<nav class="navbar navbar-expand-md fixed-top navbar-dark" style="background: #b3007d;min-height: 80px;">
<div class="container">
  <a class="navbar-brand " href="#" style="font-family: Aquire;letter-spacing: 3px;"><h3>Tutorial hub</h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
         <li class="nav-item">
       <a class="nav-link" href="#">Create Blog</a>
      </li>
       <li class="nav-item">
       <a class="btn btn-outline-info nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
       <li class="nav-item">
        <a class="btn mr-3 nav-link" href="{% url 'home' %}">Home <span</span></a>
      </li>
       {% comment %} <li class="nav-item">
        <a class="btn mr-3 nav-link" href="{% url 'blog' %}">Blog <span</span></a>
      </li> {% endcomment %}
      <li class="nav-item">
       <a class="btn btn-outline-light nav-link text-warning" href="{% url 'login' %}">Login</a>
      </li>
    {% endif %}
    </ul>
  </div>
  </div>
</nav>